# DATABASE
# Ganti dengan connection string dari Neon.tech
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"

# NEXTAUTH
# Ganti dengan URL Vercel kamu setelah deploy
NEXTAUTH_URL="https://nama-project-kamu.vercel.app"

# Generate random string di: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET="isi_dengan_random_string_panjang"
